[submodule "zedboard/fpga-images-zedboard"]
	path = zedboard/fpga-images-zedboard
	url = https://github.com/ucb-bar/fpga-images-zedboard.git
[submodule "zybo/fpga-images-zybo"]
	path = zybo/fpga-images-zybo
	url = https://github.com/ucb-bar/fpga-images-zybo.git
[submodule "zc706/fpga-images-zc706"]
	path = zc706/fpga-images-zc706
	url = https://github.com/ucb-bar/fpga-images-zc706.git
[submodule "zc706_MIG/fpga-images-zc706"]
	path = zc706_MIG/fpga-images-zc706
	url = https://github.com/ucb-bar/fpga-images-zc706.git
